<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fiat Swap</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="style.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
	<header>
		<nav class="nav-extended blue-grey darken-1">
			<div class="nav-wrapper white">
				<a href="javascript:void(0)" class="blue-grey-text text-darken-2 brand-logo">Fiat Swap</a>
				<ul class="right">
					<li class="yellow darken-1"><a class="black-text" href="javascript:void(0)" onclick="connectWallet()">{{account.address == null ? 'Connect Wallet' : account.address.short}}</a></li>
				</ul>
			</div>

			<div class="nav-content">
				<ul class="tabs tabs-transparent tabs-fixed-width">
					<li class="tab"><a href="#buy" class="active">Buy</a></li>
					<li class="tab"><a href="#sell">Sell</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<main>
		<div id="buy">
			<div ng-show="state.buyOffer != null" class="short-form card">
				<h5 class="center-align">Send Money</h5>
				<section>&nbsp;</section>

				<div class="buy-offer-logos">
					<img ng-src="{{state.selectedBuyCr == 0 ? './trx_big.png' : './usdt_big.png'}}" />
					<img ng-src="{{state.buyOffer.logo}}" />
				</div>

				<section>&nbsp;</section>

				<div id="payment-info" class="yellow darken-1">
					<div ng-if="state.selectedBuyMode == 0" id="qrcode"></div>
					
					<div class="kv">
						<p>
							<!-- <span>Mode</span> -->
							<span>{{modeNames[state.selectedBuyMode]}}</span>
						</p>

						<p>
							<span>{{modeUserLabels[state.selectedBuyMode]}}</span>
							<span><b>{{state.buyOffer.username}}</b></span>
						</p>
					</div>
				</div>

				<div>
					<div class="kv">
						<p>
							<span>Buy Price</span>
							<span>{{state.selectedBuyMode == '2' || state.selectedBuyMode == '3' ? '$' : '₹'}}{{state.buyOffer.price}}</span>
						</p>

						<p>
							<span>Total ({{state.tokenBuyValue}} {{state.selectedBuyCr == '0' ? 'TRX' : 'USDT'}})</span>
							<span><b>{{state.selectedBuyMode == '2' || state.selectedBuyMode == '3' ? '$' : '₹'}}{{state.buyOffer.total}}</b></span>
						</p>
					</div>
				</div>

				<section>&nbsp;</section>

				<div>
					<button style="margin-bottom: 10px;" class="btn yellow darken-1 w-full black-text">Done</button>
					<button ng-click="buyCancel()" class="btn grey lighten-3 w-full black-text">Cancel</button>
				</div>

			</div>

			<form ng-show="state.buyOffer == null" ng-submit="getOffer()" class="short-form card">
				<h5 class="center-align">Buy Tron or Tether</h5>
				<section>&nbsp;</section>

				<div class="input-field">
					<select ng-model="state.selectedBuyCr">
						<option value="" disabled selected>Select Token</option>
						<option value="0" data-icon="trx.png">Tron (TRX)</option>
						<option value="1" data-icon="usdt.png">Tether (USDT)</option>
					</select>
				</div>

				<section>&nbsp;</section>

				<div class="input-field">
					<select ng-model="state.selectedBuyMode">
						<option value="" disabled selected>Payment Mode</option>
						<option value="0" data-icon="bhim.png">UPI (INR)</option>
						<option value="1" data-icon="paytm.png">PayTM (INR)</option>
						<option value="2" data-icon="paypal.png">Paypal (USD)</option>
						<option value="3" data-icon="venmo.svg">Venmo (USD)</option>
					</select>
				</div>

				<section>&nbsp;</section>

				<div class="input-field">
					<input ng-model="state.tokenBuyValue" id="buy_amt" type="text">
					<label for="buy_amt">Amount of Tokens</label>
					<span class="helper-text">Minimum: 1</span>
				</div>

				<section>&nbsp;</section>

				<div>
					<button type="submit" class="btn btn-large yellow darken-1 w-full black-text">Get Best Offer</button>
				</div>
			</form>
		</div>

		<div id="sell">
			<div class="row">
				<div class="col s12 m4">
					<div class="card offer-card new blue-grey-text text-darken-2 modal-trigger" href="#sellModal">
						<i class="material-icons large">add</i>
						<br>
						New Offer
					</div>
				</div>

				<div ng-repeat="offer in myOffers" class="col s12 m4">
					<div class="row card offer-card blue-grey-text text-darken-2">
						<div class="col s6">
							<img ng-src="{{offer.curr == 0 ? './trx_big.png' : './usdt_big.png'}}" />
							<br>
							{{offer.quantity}} {{offer.curr == 0 ? 'TRX' : 'USDT'}}
						</div>
						<div class="col s6 grey lighten-3">
							<img ng-src="{{offer.logo}}" />
							<br>
							{{offer.fiat}}
						</div>
						<div class="options">
							<button data-tooltip="{{offer.display + '<br>(' + offer.username + ')'}}" class="tooltipped btn blue"><i class="material-icons">info</i></button>
							<button ng-click="deleteOffer(offer.index, offer.myIndex)" data-tooltip="Delete Offer?" class="tooltipped btn red"><i class="material-icons">delete</i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<footer></footer>

	<div class="modal bottom-sheet" id="sellModal">
		<div class="modal-content">
			<h4>New Offer</h4>
			<form ng-submit="newOffer()">
				<div class="row">
					<div class="col s6">
						<select ng-model="state.selectedCr">
							<option value="" disabled selected>Select Token</option>
							<option value="tron" data-icon="trx.png">Tron (TRX)</option>
							<option value="tether" data-icon="usdt.png">Tether (USDT)</option>
						</select>
					</div>

					<div class="col s6">
						<select ng-model="state.selectedMode">
							<option value="" disabled selected>Payment Mode</option>
							<option value="0" data-icon="bhim.png">UPI (INR)</option>
							<option value="1" data-icon="paytm.png">PayTM (INR)</option>
							<option value="2" data-icon="paypal.png">Paypal (USD)</option>
							<option value="3" data-icon="venmo.svg">Venmo (USD)</option>
						</select>
					</div>
				</div>

				<div class="input-field">
					<input ng-model="state.sellerUser" type="text" placeholder="{{placeHolders.user[state.selectedMode]}}" />
				</div>

				<div class="input-field">
					<input ng-model="state.sellerDisplay" type="text" placeholder="Name on Account" />
				</div>

				<div class="input-field">
					<input ng-model="state.tokenValue" type="text" placeholder="Amount of Tokens" />
				</div>

				<div class="input-field">
					<input ng-model="state.sellingPrice" type="text" placeholder="Selling Price" />
					<span class="helper-text">Market Price: {{state.selectedMode == '2' || state.selectedMode == '3' ? '$' : '₹'}}{{prices[state.selectedCr][state.selectedMode == '2' || state.selectedMode == '3' ? 'usd' : 'inr']}}</span>
				</div>

				<div>
					<button class="btn right red darken-1" type="submit">Post</button>
				</div>
			</form>
		</div>

		<div class="modal-footer"></div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="qrcode.min.js"></script>
	<script src="script.js"></script>
</body>

</html>